
.App {
  max-width: 600px;
  margin: 30px auto;
}

.body {
  font-family: Arial, Helvetica, sans-serif;
}

.App .signature {
  font-size: 12px;
  align-content: center;
}

.App .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  padding: 20px 0;
  top: -32px;
}

.App .signature {
  text-align: center;
  width: 100%;
  margin: auto 0;
}


