@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swaprel=stylesheet");

.WeatherSearchEngine {
  max-width: 600px;
  margin: 30px auto;
}

.WeatherSearchEngine {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 20px;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 77%;
  font-family: Poppins;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-input::placeholder {
  color: #5900b3;
  margin-left: 40px;
}

.search-form-button {
  background: #5900b3;
  padding: 15px 30px;
  border: none;
  font-family: Poppins;
  font-size: 15px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

.weather-app-city {
  margin-left: 26px;
  font-size: 38px;
  font-weight: 400;
  line-height: 40px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.day-and-time {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 200;
  color: #5900b3;
  margin-left: 26px;
}

.humidity {
  font-family: Poppins;
  font-size: 16px;
  line-height: 24px;
  color: #5900b3;
  margin-left: 26px;
}

.wind-speed {
  font-family: Poppins;
  font-size: 16px;
  line-height: 24px;
  color: #5900b3;
  margin-left: 26px;
}

.conditions {
  font-family: Poppins;
  font-size: 16px;
  line-height: 24px;
  margin-left: 26px;
  color: #5900b3;
}

.weather-app-temp-container {
  display: flex;
  line-height: 40px;
}

.weather-app-temperature {
  font-family: Poppins;
  color: #5900b3;
  font-size: 88px;
  margin-left: 5px;

  font-weight: bold;
  line-height: 100px;
}

.weather-app-icon {
  height: 88px;
  width: 88px;
  margin-right: 0px;
}

.weather-app-unit {
  font-family: Poppins;
  color: #5900b3;
  margin-top: 15px;
  margin-right: 30px;
  font-size: 28px;
}

.weather-outlook {
  display: flex;
  width: 600px;
  justify-content: space-around;
  text-align: center;
  margin-top: 30px 0;
  padding-bottom: 50px;
}

.weather-outlook img {
  height: 88px;
  width: 88px;
}

.daily-temperatures {
  font-family: Poppins;
  text-align: center;
  display: flex;
  color: #5900b3;
  margin-top: 10px;
  justify-content: center;
}

.daily-temperature {
  padding: 0 10px;
}

.forecast-weekday {
  font-family: Poppins;
  font-weight: 500;
  color: #5900b3;
}

.forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}

h1 {
  color: #5900b3;
  font-family: Poppins;
  margin-left: 30px;
}

h2 {
  color: #5900b3;
  font-family: Poppins;
  font-weight: 500;
  text-align: center;
}

a {
  color: #5900b3;
  font-weight: 500;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 200;
  color: #a64dff;
}

main {
  padding: 30px 0;
}
